<div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @user, local: true) do |f| %>
        
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="border-bottom p-3">
        <div class="form-group">
            <%= f.label :name, '名前：' %>
            <%= f.text_field :name, class: 'form-control'%>
        </div>
        
        <div class="form-group">
            <%= f.label :email, 'メールアドレス：' %>
            <%= f.email_field :email, class: 'form-control'%>
        </div>
        
        <div class="form-group">
            <%= f.label :password, 'パスワード：' %>
            <%= f.password_field :password, class: 'form-control'%>
        </div>
        
        <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード確認：' %>
            <%= f.password_field :password_confirmation, class: 'form-control'%>
        </div>
        
        <div class="form-group">
            <%= f.label :image, 'プロフィール画像：' %>
            <%= f.file_field :image, class: 'form-control-file'%>
        </div>
        
        <div class="form-group">
            <%= f.label :profile, 'プロフィール：' %>
            <%= f.text_area :profile, class: 'form-control'%>
        </div>
        
        </div>
        
        <div class="form-group mt-4 text-center">
            <%= button_tag type: 'submit', class: "btn btn-outline-light" do %>
                登録<i class="far fa-paper-plane ml-2"></i>
            <% end %>
        </div>
    <% end %>
</div>
