<div class="media d-flex align-items-center border-bottom p-4">
    <div class="pl-2" id="show-image">
        <% if @user.image.present? %>
            <%= image_tag @user.image.to_s, size: 150, class: 'rounded' %>
        <% else %>
            <%= image_tag 'giga_kaeru110-2.png', size: 150, class: 'rounded' %>
        <% end %>
    </div>
    <div class="media-body p-4">
        <h4 class="border-bottom"><%= @user.name %></h4>
        <p class="border-bottom pb-4">
            <% if @user.profile.present? %>
                <%= @user.profile %>
            <% else %>
                <%= 'よろしくお願いします！'%>
            <% end %>
        </p>
        <% if current_user == @user %>
            <%= link_to edit_user_url, class: 'btn btn-outline-light' do %>
                編集<i class="fas fa-pen ml-2"></i>
            <% end %>
        <% end %>
    </div>
</div>
<ul class="mt-4 pr-4 pl-4">
    <%= paginate @post %>
    <% @post.each do |post| %>
        <li class="mt-2 border-bottom">
            <div class="row p-2">
                <div class="offset-sm-2 col-sm-10">
                    <div class="d-flex align-items-center mb-2">
                        <%= post.created_at.to_s(:datetime_jp) %>
                        <% if current_user == post.user %>
                            <%= link_to post, method: :delete, class: 'btn-sm' do %>
                                <i class="far fa-trash-alt"></i>
                            <% end %>
                        <% end %>
                        <div class="pt-1">
                            <%= render 'favorites/favorite_button', post: post %>
                        </div>
                    </div>
                    <h4>
                        <%= post.content %>
                        <%= post.two_content %>
                        <%= post.three_content %>
                        <%= post.four_content %>
                        <%= post.five_content %>
                    </h4>
                </div>
            </div>
        </li>
    <% end %>
    <%= paginate @post %>
</ul>

