<div class="media m-3">
    <% if @user.image.present? %>
        <%= image_tag @user.image.to_s, size: 150, class: 'd-flex mr-3 rounded' %>
    <% else %>
        <%= image_tag 'giga_kaeru110-2.png', size: 150, class: 'd-flex mr-3 rounded' %>
    <% end %>
    <div class="media-body p-3 rounded text-white">
        <h2 class="mt-0"><%= @user.name %></h2>
        <div>
            <p>
                <% if @user.profile.present? %>
                    <%= @user.profile %>
                <% else %>
                  <%= 'よろしくお願いします' %>
                <% end %>
            </p>
            <% if current_user == @user %>
                <%= link_to '編集', edit_user_url, class: 'btn btn-outline-light' %>
            <% end %>
        </div>
    </div>
</div>
<ul class="mt-4 pr-4 pl-4">
    <% @post.each do |post| %>
        <li id="show">
            <div class="row p-2">
                <div class="offset-sm-2 col-sm-10">
                    <div class="d-flex align-items-center mb-2">
                        <%= post.created_at.to_s(:datetime_jp) %>
                        <% if current_user == post.user %>
                            <%= link_to post, method: :delete, class: 'btn-sm' do %>
                                <i class="far fa-trash-alt"></i>
                            <% end %>
                        <% end %>
                        <div class="pt-1">
                            <%= render 'favorites/favorite_button', post: post %>
                        </div>
                    </div>
                    <h4>
                        <%= post.content %>
                        <%= post.two_content %>
                        <%= post.three_content %>
                        <%= post.four_content %>
                        <%= post.five_content %>
                    </h4>
                </div>
            </div>
        </li>
    <% end %>
    <%= paginate @post %>
</ul>


