<% if logged_in? %>
    <%= render 'posts/posts', posts: @posts %>
<% else %>
    <div class="d-flex justify-content-center " id="main">
        <%= image_tag 'logo2.png', id: 'top-img', class: "align-items-center" %>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <%= link_to '新規登録', signup_path, class: 'btn btn-outline-light' %>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <%= link_to 'ログイン', login_path, class: 'btn btn-outline-light' %>
    </div>
    <div class="d-flex justify-content-center mt-2">
        <%= link_to 'かんたんログイン', guest_path, method: :post, class: 'btn btn-outline-light' %>
    </div>
<% end %>