<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: @post, local:true) do |f| %>
        
            <%= render 'layouts/error_messages', model: f.object %>
        
            <div class="form-group">
                <%= f.label :content, '詩'%>
                <%= f.text_area :content, class: 'form-control' %>
            </div>
        
            <div class="form-group">
                <%= f.submit '投稿', class: 'form-control'%>
            </div>
        
        <% end %>
    </div>
</div>