<div class="row mt-4">
    <div class="col-sm-6 offset-sm-3">
        <%= form_with(model: @post, local:true) do |f| %>
        
            <%= render 'layouts/error_messages', model: f.object %>
        
            <div class="form-group">
                <%= f.label :content, '五'%>
                <%= f.text_field :content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :two_content, '七'%>
                <%= f.text_field :two_content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :three_content, '五'%>
                <%= f.text_field :three_content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :four_content, '七'%>
                <%= f.text_field :four_content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :five_content, '七'%>
                <%= f.text_field :five_content, class: 'form-control' %>
            </div>
            
            <div class="form-group">
                <%= f.label :hashtag, '#タグ'%>
                <%= f.text_field :hashtag, class: 'form-control' %>
            </div>
        
            <div class="form-group">
                <%= f.submit '投稿', class: 'form-control'%>
            </div>
        
        <% end %>
    </div>
</div>